/*MENU
0 - Geral
1 - Nav Bar
2 - Section 1
3 - Section 2
*/

/*0 - Geral*/

:root {
    --rosa-primario: #ffb6c0;
    --rosa-secundario: rgba(255, 182, 192, 0.8);

    --branco-primario: #FFF;
    --branco-secundario: #FFFEE8;

    --cinza-primario: #333;
    --cinza-secundario: #CECECE;
}

@font-face {
    font-family: "Titan";
    src: url(../fonts/TitanOne-Regular.ttf);
}

@font-face {
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa-Regular.ttf);
}

/* 1 - Nav Bar*/
header {
    width: 90%;
}

nav {
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 15px 5px;
    font-size: 1.125em;
}

nav a {
    color: var(--branco-secundario);
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 20px; 
    transition: .3s;

}

nav a:hover {
    background-color: var(--rosa-secundario);
    transition: .3s;
}

nav ul li:nth-child(1)::after, 
nav ul li:nth-child(2)::after, 
nav ul li:nth-child(3)::after {
    display: inline-block;
    content: "";
    height: 35px;
    width: 2px;
    background-color: var(--rosa-primario);
    position: relative;
    top: .5em;
    left: -7px; /*ou right: 7px;*/
}

/* 2 - Section 1 */
.home {
    background-image: url("../img/animal.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--branco-secundario);
    text-align: center;
    font-family: "Titan";
}

.home .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home h1 {
    font-size: 4em;
    letter-spacing: 4px;
}

.home .icons {
    margin: 50px 0;
}

.home .icons-content {
    width: 75px;
    height: 75px;
}

#central {
    margin: 0 20%;
} 

.home .more {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .more p {
    font-size: 1.5em;
    font-family: "Comfortaa";
    color: var(--branco-primario);
    margin-bottom: 5%;
}

.home .arrow {
    height: 28px;
    width: 28px;
    margin: 0 auto;
    border-left: solid 8px var(--branco-secundario);
    border-bottom: solid 8px var(--branco-primario);
    transform: rotate(-45deg);
    border-radius: 10%;
}

.title-h2 {
    
}